@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";
.main06 {
//   border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 0px;

  .for-center-main06 {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;

    @include breakpoint(desktop){
      width: 95%;
    }

    .div-fourteen {
      // border: 2px solid purple;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 45px;

      h2 {
        font-size: 45px;
        text-align: center;
        font-weight: 500;


         @include breakpoint(laptop-sm) {
          font-size: 40px;
        }

        @include breakpoint(tablet-lg) {
          text-align: center;
        }

        @include breakpoint(mobile-lg) {
          font-size: 30px;
        }

        @include breakpoint(mobile-sm) {
          font-size: 28px;
        }

        @include breakpoint(mobile-xs) {
          font-size: 26px;
        }
      }
    }
  }
}
