@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.navbar {
  //   border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f1925;
  //   padding: 10px 0px;
  @include breakpoint(mobile-lg) {
    padding-top: 25px;
  }

  .for-center-navbar {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(desktop) {
      width: 95%;
    }

    @include breakpoint(mobile-lg) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 173px;

      @include breakpoint(mobile-lg) {
        width: 265px;
      }

     
    }

     .for-button-2 {
        // border: 2px solid red;
        @include breakpoint(mobile-lg) {
          display: none;
        }
      }
  }
}
