@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.lime-green-button {
  // border: 2px solid red;
  background-color: #7aff87;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 14%;
  border: none;
  cursor: pointer;
  border-radius: 5px;

  i {
    font-size: 20px;
    margin-right: 7px;
  }

  h6 {
    font-size: 20px;
    font-weight: 500;
  }
}
