@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --font-sans: var(--font-red-hat-display); /* Red Hat Display for sans */
  --font-mono: var(--font-red-hat-display); /* If you want, you can keep same for mono */
}

/* Form elements clean-up */
button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Space Grotesk font" , "Demi";
}

html,
body {
   font-family: var(--font-sans), sans-serif;
  overflow: hidden;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  margin: 0;
}
