@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.main03 {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 0px;
  background-color: #f6f7fa;

  .for-center-main03 {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include breakpoint(desktop) {
      width: 95%;
    }

    @include breakpoint(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .div-three {
      // border: 2px solid green;
      width: 30%;

      @include breakpoint(tablet) {
        width: 100%;
      }

      @include breakpoint(mobile-lg) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .five-gold-star {
        padding-bottom: 15px;
        font-size: 20px;

        @include breakpoint(mobile-lg) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      p {
        padding-bottom: 15px;
        font-size: 18px;
        line-height: 1.5;

        @include breakpoint(tablet-lg) {
          font-size: 16px;
        }

        @include breakpoint(mobile-lg) {
          text-align: center;
        }
      }

      .ceo-founder-box {
        display: flex;
        flex-direction: column;

        @include breakpoint(mobile-lg) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        h6 {
          font-size: 16px;
        }
      }
    }

    .div-four {
      // border: 2px solid blue;
      width: 30%;

      @include breakpoint(tablet) {
        width: 100%;
        margin-top: 25px;
      }

      @include breakpoint(mobile-lg) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
      }

      .five-gold-star {
        padding-bottom: 15px;
        font-size: 20px;

        @include breakpoint(mobile-lg) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      p {
        padding-bottom: 15px;
        font-size: 18px;
        line-height: 1.5;

        @include breakpoint(tablet-lg) {
          font-size: 16px;
        }

        @include breakpoint(mobile-lg) {
          text-align: center;
        }
      }

      .ceo-founder-box {
        display: flex;
        flex-direction: column;

        @include breakpoint(mobile-lg) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        h6 {
          font-size: 16px;
        }
      }
    }

    .div-five {
      // border: 2px solid purple;
      width: 30%;

      @include breakpoint(tablet) {
        width: 100%;
        margin-top: 25px;
      }

      @include breakpoint(mobile-lg) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
      }

      .five-gold-star {
        padding-bottom: 15px;
        font-size: 20px;

        @include breakpoint(mobile-lg) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      p {
        padding-bottom: 15px;
        font-size: 18px;
        line-height: 1.5;

        @include breakpoint(tablet-lg) {
          font-size: 16px;
        }

        @include breakpoint(mobile-lg) {
          text-align: center;
        }
      }

      .ceo-founder-box {
        display: flex;
        flex-direction: column;

        @include breakpoint(mobile-lg) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        h6 {
          font-size: 16px;
        }
      }
    }
  }
}
