@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.faq-item {
  border-bottom: 1px solid #eee;
  padding: 25px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;

    // @include breakpoint(mobile-lg) {
    //   text-align: center;
    // }
  }
}

.arrow {
  font-size: 20px;
  /* no rotation */

 
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease; /* smooth open/close */
  color: #666;
  line-height: 1.7;

  p {
    margin-bottom: 14px;

    // @include breakpoint(mobile-lg) {
    //   text-align: center;
    // }
  }
}
